**/__pycache__
data/
env.production
iam/
integration/
letsencrypt_certs/
*.swp
admin/
Cargo.lock
target/
fabfile.py
*.wasm
**/node_modules/*

.config/
.envrc
.github/
.tox/
Makefile
devops/
dist/
docs/
dumps/
greyhound/
machine/*
nix/*
nocolors_600k
package-lock.json
.direnv/
.env/
crates/frontend/static
