services:

  db:
    image: postgres:9.6-alpine
    restart: always
    volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
    env_file:
      - env.production

  worker:
    image: ghcr.io/sourmash-bio/wort:worker-main
    build:
      context: .
      dockerfile: Dockerfile
      target: worker
    env_file:
      - iam/wort_s3.env
    command: >
      celery -A wort.blueprints.compute.tasks
             worker
             -Q compute_small,compute_medium,compute_large
             --without-gossip --without-mingle --without-heartbeat
             -l INFO -c 1

  web:
    image: ghcr.io/sourmash-bio/wort:web-main
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    restart: always
    command: >
      gunicorn -b 0.0.0.0:5000
        --access-logfile -
        "wort.app:create_app()"
    environment:
      PYTHONUNBUFFERED: 'true'
      FLASK_APP: 'wortapp.py'
    ports:
      - "8082:5000"
    depends_on:
      - db
      - redis
    env_file:
      - env.production
      - iam/wort_s3.env
#    volumes:
#      - .:/app/wort

  redis:
    restart: always
    image: redis:latest
    ports:
      - "6379"
    volumes:
      - ./data/redis:/data
