[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
cachelib = "*"
gunicorn = "==20.0.4"
redis = "==2.10.6"
celery = {extras = ["sqs"]}
snakemake = "==5.17.0"
"boto3" = "==1.13.13"
flask-wtf = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
flask-login = "*"
"celery-s3" = "*"
pycurl = "*"
connexion = {extras = ["swagger-ui"],version = "==2.7.0"}
jsonschema = "==2.6.0"
flask-shell-ipython = "*"

[dev-packages]
flit = "==2.3.0"
pandas = "*"
ipython = "*"
httpie = "*"
requests = "*"
black = "*"
awscli = "*"
pdoc = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"
