[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.2"
gunicorn = "==19.7.1"
redis = "==2.10.6"
celery = {extras = ["sqs"]}
snakemake = "==4.5.0"
"boto3" = "==1.7.83"
flask-wtf = "*"
flask-migrate = "*"
"psycopg2" = "*"
flask-login = "*"
flask-httpauth = "*"
"celery-s3" = "*"
pycurl = "*"

[dev-packages]
flit = "==0.13"
pandas = "*"
ipython = "*"
httpie = "*"
requests = "*"
black = "*"

[pipenv]
allow_prereleases = true
