{% extends "base.html" %}
{% block content %}

<div>
Welcome to wort! It's a database for sourmash signatures, currently focused on
indexing datasets from the
<a href='https://trace.ncbi.nlm.nih.gov/Traces/sra/sra.cgi?'>NCBI Sequence Read Archive</a>,
the <a href='https://img.jgi.doe.gov/'>JGI Integrated Microbial Genomes and Microbiomes</a> portal,
and <a href='https://www.ncbi.nlm.nih.gov/assembly/'>NCBI Assembly</a> resources
(<a href='https://www.ncbi.nlm.nih.gov/genbank'>GenBank</a> and
<a href='https://www.ncbi.nlm.nih.gov/refseq/'>RefSeq</a>).
</div>

<div>
  There are currently {{ "{0:,.0f}".format(n_datasets) }} datasets,
  calculated from {{ "{0:,.2f}".format(size_TB) }} TB of original data.
</div>

<div>
<p> Here are some example pages for these datasets:
<ul>
  <li>SRA: <a href='/view/sra/DRR013902/'>DRR013902</a></li>
  <li>IMG: <a href='/view/img/2522125045'>2728369338</a></li>
  <li>NCBI Assemblies: <a href='/view/genomes/GCF_000246355.1'>GCF_000246355.1</a></li>
</ul>
</p>
</div>

<div>
  <p>For more info check the <a href='https://github.com/luizirber/2018-biods'>poster</a>
    presented at <a
      href='https://meetings.cshl.edu/meetings.aspx?meet=DATA&year=18'>Biological
      Data Science 2018</a>.
  </p>

  <p>Also check the <a href='https://github.com/dib-lab/wort'>GitHub</a>
    repository, where we keep track of code, issues and feature requests.

</div>
{% endblock %}
